@model IEnumerable<SacramentPlanner.Models.SacramentMeeting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SacramentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BabyBlessing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Confirmation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkWardBusiness)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkYouthSpeaker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkFirstSpeaker)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FkSecondSpeaker)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FkClosingPrayerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkClosingSongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkConductingNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIntermediateSongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMeetingTopicNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMusicLeaderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkMusicPlayerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkOpenPrayerNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkOpenSongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkSacramentSongNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BabyBlessing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkWardBusiness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkYouthSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkFirstSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkSecondSpeaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkClosingPrayerNavigation.PrayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkClosingSongNavigation.HymnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkConductingNavigation.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIntermediateSongNavigation.HymnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMeetingTopicNavigation.TopicTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMusicLeaderNavigation.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkMusicPlayerNavigation.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkOpenPrayerNavigation.PrayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkOpenSongNavigation.HymnTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkSacramentSongNavigation.HymnTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SacramentMeetingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SacramentMeetingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SacramentMeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
