@model IEnumerable<SacramentPlanner.Models.WardMember>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lname)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FkCalling)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkCalling.CallingName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WardMemberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WardMemberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WardMemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
